.rightside-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 15;
    max-width: 694px;
    width: 100%;
    background-color: white;
    padding-top: 40px;
    box-shadow: -2px 3px 17px 0px #000;
    transition: all 0.6s;
    min-height: 100%;
    &.rightside-menu--close {
        transform: translateX(500%);
    }
    &__close {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        margin-left: 50px;
        margin-bottom: 60px;
    }
    &__content {
        text-align: center;
        max-width: 485px;
        margin: 0 auto;
    }
    &__logo {
        margin-bottom: 40px;
        display: inline-block;
    }

    &__title {
        color: $title;
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        position: relative;
        margin-bottom: 17px;
        padding-bottom: 17px;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
            background: back;
            max-width: 252px;
            height: 1px;
        }
    }
    &__text {
        margin-bottom: 75px;
    }
    &__images {
        max-width: 485px;
    }
}