.map {
    margin-top: -53px;
    margin-bottom: 50px;
    iframe{
        height: 578px;
    }
}

.contact {
    padding-bottom: 100px;
    &__title {
        color: $title;
        @extend %title-font;
        font-size: 36px;
        line-height: 60px;
        padding-bottom: 35px;
        margin-bottom: 40px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 2px;
            background-color: #6d7278;
        }
    }
    .contact__social {
        padding-left: 284px;
        display: flex;
        margin-bottom: 20px;
    }
    &__box {
        padding-left: 284px;
    }

    &__text {
        margin-bottom: 10px;
    }

    &__social-item + .contact__social-item {
        padding-left: 40px;
    }
    &__social-link {
    }
    &__phone {
        color: $default;
    }
    &__st {
    }
    &__city {
        margin-bottom: 16px;
    }
    &__form {
        padding-left: 284px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__form-input {
        border: 1px solid #dfdfdf;
        border-radius: 20px;
        padding: 6px 17px;
        margin-bottom: 13px;
        width: 48%;
        &::placeholder {
            color: #a1a1a1;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
        }
    }
    &__form-area {
        width: 100%;
        border: 1px solid #dfdfdf;
        border-radius: 24px;
        padding: 14px 17px;
        min-height: 125px;
        resize: none;
        margin-bottom: 20px;
        &::placeholder {
            color: #a1a1a1;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
        }
    }
    &__form-btn {
        border: none;
        background-color: $title;
        color: #fffff0;
        font-weight: 600;
        border-radius: 21px;
        padding: 6px 60px;
        cursor: pointer;
    }
}

.container-fluid {
}
.contact-slider {
    padding-bottom: 102px;
    &__link {
        position: relative;
        margin-bottom: 20px;
        &:hover {
            .contact-slider__text {
                opacity: 1;
            }
        }
    }
    &__img {
        width: 170px;
        height: 170px;
        // если вместо маленько картинки - добавят большую
        object-fit: cover;
    }
    &__text {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(#fff, 0.6);
        color: $title;
        @extend %title-font;
        line-height: 22px;
        padding: 0 5px;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
    }
}
