$title: #363838;
$default: #5a5a5a;

$tablets: 768px;

%title-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

// mixin for fancy box error with min\max
@function max($numbers...){
    @return m#{a}x(#{$numbers});
}
@function min($numbers...){
    @return m#{a}x(#{$numbers});
}